* {
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg-image {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.main-wrapper {
  position: relative;
}

.main-wrapper #project-title {
  text-align: center;
  font-size: 50px;
}

.main-wrapper #initial-button-container {
  text-align: center;
  margin: 20px auto;
}

.main-wrapper #initial-button-container > button {
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
}

.main-wrapper #initial-button-container > button:hover {
  cursor: pointer;
}

.main-wrapper .form-container form {
  border: 5px solid red;
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 30px 20px;
}

.main-wrapper .form-container > form > span {
  position: absolute;
  right: 10px;
  top: 5px;
}

.main-wrapper input[type=submit] {
  color: red;
}

.main-wrapper table {
    border: 1px solid #333;
    margin: 20px auto;
    font-size: 40px;
    width: 80%;
    text-align: center;
}

.main-wrapper tr[data-index] {
  text-align: center;
}

.main-wrapper table  tr  th {
  color: red;
}

.main-wrapper tbody tr:nth-child(1) {
  background-color: #ff33cc;
}