* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg-image {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.main-wrapper {
  position: relative;
  margin-top: 25px;
}

.main-wrapper #project-title {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: #111827;
}

.main-wrapper #initial-button-container {
  text-align: center;
  margin: 20px auto;
}

.main-wrapper .form-container form {
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 30px 20px;
  background-color: #f8fafc;
  border-radius: 10px;
  box-shadow: 2px 5px 3px #94a3b8;
}

.main-wrapper .form-container > form > span {
  position: absolute;
  right: 10px;
  top: 5px;
}


.main-wrapper table {
    border: 1px solid #333;
    margin: 20px auto;
    font-size: 30px;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    background-color: #f8fafc;
}

.main-wrapper tr[data-index] {
  text-align: center;
}

.main-wrapper table  tr  th {
  color: #171717;
  border-bottom: 2px solid #171717;
}

.main-wrapper tbody tr:nth-child(1) {
  background-color: #f97316;
  font-size: 40px;
  text-transform: uppercase;
}

form input[type="submit"],
#start-library {
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  font-weight: 700;
  background-color: #f97316;
  color: #1c1917;
  margin-top: 15px;
  border: none;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}


form input[type="submit"]:hover,
#start-library:hover {
  cursor: pointer;
  background-color: #ea580c;
}

.form-example {
  padding-top: 7px;
}

tr.table-rows {
  border-bottom: 2px solid #171717;
}

.read {
  background-color: #4ade80;
}

.unread {
  background-color: #f87171;
}

.status:hover , .remove-icons:hover {
  cursor: pointer;
}

.form-input {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #94a3b8;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #94a3b8;
}

#first-table-row th:nth-child(n) {
  padding-top: 8px;
  padding-bottom: 8px;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer p {
  font-size: 20px;
  font-weight: 500;
}
