* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg-image {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.main-wrapper {
  position: relative;
  margin: 25px auto;
  max-width: 1200px;
}

.main-wrapper #project-title {
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: #111827;
}

.main-wrapper #initial-button-container {
  text-align: center;
  margin: 20px auto;
}

.main-wrapper .form-container form {
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  padding: 30px 20px;
  background-color: #f8fafc;
  border-radius: 10px;
  box-shadow: 2px 5px 3px #94a3b8;
}

.main-wrapper .form-container > form > span {
  position: absolute;
  right: 10px;
  top: 5px;
}


.main-wrapper table {
    border: 1px solid #333;
    margin: 20px auto;
    font-size: 16px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: #f8fafc;
}

.main-wrapper tr[data-index] {
  text-align: center;
}

.main-wrapper table  tr  th {
  color: #171717;
  border-bottom: 2px solid #171717;
}

.main-wrapper tbody tr:nth-child(1) {
  background-color: #f97316;
  font-size: 20px;
  text-transform: uppercase;
}

form input[type="submit"],
#myBtn {
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  font-weight: 700;
  background-color: #f97316;
  color: #1c1917;
  margin-top: 15px;
  border: none;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}


form input[type="submit"]:hover,
#myBtn:hover {
  cursor: pointer;
  background-color: #ea580c;
}

.form-example {
  padding-top: 12px;
}

tr.table-rows {
  border-bottom: 2px solid #171717;
}

.read {
  background-color: #4ade80;
}

.unread {
  background-color: #f87171;
}

.status:hover , .remove-icons:hover {
  cursor: pointer;
}

.form-input {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #94a3b8;
  outline: 0;
  box-shadow: 0 0 0 0.1rem #94a3b8;
}

#first-table-row th:nth-child(n) {
  padding-top: 8px;
  padding-bottom: 8px;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer p {
  font-size: 20px;
  font-weight: 500;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  display: flex; 
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #1f2937;
  color: white;
  text-align: center;
}

.modal-body {
  padding: 20px 50px;
  text-align: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #1f2937;
  color: white;
}

/* Media Queries */

@media (max-width: 1024px) { 
  .main-wrapper {
    margin: 25px 25px;
  }

  .main-wrapper tbody tr:nth-child(1) {
    font-size: 15px;
  }

  .main-wrapper table {
    font-size: 12px;
  }
}

@media (max-width: 768px) { 
  .main-wrapper #project-title {
    font-size: 40px;
  }

  #myBtn {
    font-size: 1rem;
  }

  .main-wrapper {
    margin: 25px 5px;
  }

  .main-wrapper tbody tr:nth-child(1) {
    font-size: 13px;
  }

  .main-wrapper table {
    font-size: 11px;
  }
}

